*{
  margin: 0px;
  padding: 0px;
}
.container {
  display: flex;
  flex-direction: column;
 width: 267px;
height: 205px;
border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
}
.statebox{
    /* width: 267px; */
/* height: 48px; */
gap: 10px;
opacity: 1;
padding: 16px;
color: #8894A9;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 16px;
letter-spacing: -3%;
}
.state-items{
gap:12px;
align-items: center;
padding: 12px;
border-top:1px solid #E7EAEE;
background-color: #FFFFFF;
display: flex;
}
.state-list{
    display: flex;
font-weight: 500;
font-style: Medium;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
color: #30333B;
    width: 34px;
/* height: 23px; */
gap: 4px;
opacity: 1;
border-radius: 20px;
border: 1px solid #D9DEE4;
align-items: center;
justify-content: center;
/* color: #F6F7F8; */
padding-top: 4px;
padding-right: 8px;
padding-bottom: 4px;
padding-left: 8px;

}
.state-label{
    width: 94px;
height: 19px;
opacity: 1;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: -2%;
color: #6A728B;
}
.container-active {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 563px;
  height: 306px;
  border-radius: 8px;
  border-width: 1px;
  padding: 16px;
  gap: 24px;
  opacity: 1;
}
.state-last{
    display: flex;
    height:16px;
       width: 40px;
    justify-content: flex-end;
}
.district-box {
  display: flex;
  width: 78px;
  height: 16px;
  opacity: 1;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -3%;
  color: #8894a9;
}
.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 25px;
  row-gap: 30px;
  width: 360px;
  margin: 10px;
  align-items: start;
  padding: 10px;
}
.greenCheckbox {
  accent-color: #4C980F;
  width: 20px;
  border: 1px solid #D9DEE4;
height: 20px;
cursor: pointer;
opacity: 1;
border-radius: 6px;
}
.show-btn{
  border:none;
  background: none;
  color: #0B99FF;
  text-decoration: underline;
  cursor: pointer;
}
.hide-btn{
  border:none;
  background: none;
  color: #0B99FF;
  text-decoration: underline;
   cursor: pointer;
}
.top-box {
  display: flex;
    gap: 12px;
    align-items: center;
border-radius: 27px;
padding-top: 4px;
padding-right: 4px;
padding-bottom: 4px;
padding-left: 12px;
background-color: #F6F7F8;
border: 1px solid #D9DEE4;
}
.main-content {
  display: flex;
  gap:24px;
}
.top-box1 {
  display: flex;
border-radius: 4px;
border: 1px solid #D7F4FF;
color: #0B99FF;
background-color: #D7F4FF;
align-items: center;
justify-content: center;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 17px;
letter-spacing: -3%;
gap: 10px;
padding-top: 4px;
padding-right: 8px;
padding-bottom: 4px;
padding-left: 8px;

}
.first-box {
  display: flex;
  flex-direction: column;
gap: 16px;
opacity: 1;
border-radius: 8px;
border: 1px solid #E7EAEE;
background-color: #FFFFFF;
padding: 12px;

}
.header_content {
  display: flex;
  flex-direction: column;
  gap: 12px;

}
.items-box{
  display: flex;
  width: 531px;
height: 64px;
gap: 24px;
flex-wrap: wrap;
}
.items {
  display: flex;
  width: 161px;
  gap: 16px;
  color: #30333B;
  font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;


}
.header-item{
  width: 149px;
height: 19px;
gap: 8px;
display: flex;
color: #30333B;
}
.header-content{
flex-wrap: wrap;
gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
display: flex;
  border-bottom: 1px solid #D9DEE4;
}
.header-shows{
  display: flex;
  flex-direction: column;
}
.header-box{
  display: flex;
  justify-content: space-between;
gap: 16px;
border-radius: 8px;
border: 1px solid #E7EAEE;
padding: 12px;
background-color: #FFFFFF;
}
.header-box1{
  display: flex;
  gap: 16px;
  width: 854px;
height: 29px;
justify-content: space-between;
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 100%;
letter-spacing: -4%;
color: #30333B;
}
.whole-container{
  display: flex;
  flex-direction: column;
  width: 886px;
  position: relative;
  z-index: 2;


/* height: 750px; */
margin-top: -150px;
margin-left: 176px;
border-radius: 8px;
border: 1px solid #E7EAEE ;
padding: 16px;
gap: 24px;
opacity: 1;
background-color: #FFFFFF;

}
.top-box-inner1{
display: flex;
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 16px;
letter-spacing: -3%;
color: #30333B;
}
.top-box-btn{
  display: flex;
}
.btn{
  cursor: pointer;
  display: flex;
  border:1.17px solid #30333B;
  border-radius: 100%;
  justify-content: center;
  width: 20px;
  align-items: center;
}
.footer{
  display: flex;
height: 56px;
justify-content: flex-end;
opacity: 1;
border-top: 1px solid #E7EAEE;
padding-top: 16px;
}
.footer-btn{
  display:flex;
  gap: 12px;
  height: 40px;
  cursor: pointer;
}
.apply-btn{
  display: flex;
  width: 144px;
  align-items: center;
 justify-content: center;
 cursor: pointer;
  height:40px;
  background-color: #0B99FF;
  color: #FFFFFF;
  font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
border:1px solid #0B99FF;
padding: 8px;
}
.close-btn{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 144px;
 cursor: pointer;
  height:40px;
  background-color: #FFFFFF;
  color: #0B99FF;
  font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
border:1px solid #D9DEE4;
padding: 8px;
}